@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Ubuntu";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ubuntu.woff2") format("woff2"), url("../fonts/ubuntu.woff") format("woff");
}
